.advantages{
    width: 100%;
    height: fit-content;
}

.advantages_heading{
    margin-left: 15%;
    margin-top: 10vh;
    padding-bottom: 1vh;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    width: 55vh;
}

.advantages_main_completion, .advantages_main_completion_greenborder{
    display: flex;
    margin-top: 5vh;
    padding-top: 5vh;
    width: 55vh;
    height: 21vh;
    border-top-style: solid;
    border-top-color: #C9C9C9;
    border-top-width: .3vh;
}

.advantages_main_completion_greenborder{
    border-top-color: #01524A;
    margin-top: 0px;
}


.advantages_main_completion_heading, .advantages_main_completion_heading_less{
    color: #0A0A0A;
    width: 35%;
    margin-right: 3vh;
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.advantages_main_completion_content{
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #505050;
    width: 50%;
}

.advantages_main_completion_heading_less{
    font-size: 22px;
    font-weight: 1000;
}

.advantages_main{
    width: 70%;
    columns: 2;
    column-gap: 2em;
    margin-left: 15%;
}



@media screen and (max-width: 980px) and (max-height: 700px){
    .advantages{
        height: fit-content;
    }

    .advantages_main{
        margin-left: 9%;
    }

    .advantages_heading{
        margin-left: 9%;
    }

    .advantages_main_completion_greenborder{
        width: 45vh;
    }

    .advantages_main_completion_heading_less, .advantages_main_completion_heading{
        font-size: 16px;
    }

    .advantages_main_completion_content{
        font-size: 12px;
    }

    .advantages_main_completion_greenborder, .advantages_main_completion{
        padding-top: 1vh;
        width: 315px;
        height: 180px;
    }

    .advantages_heading{
        font-size: 36px;
    }
}


@media screen and (max-width: 360px) and (max-height: 640px){
    .advantages{
        width: 120vh;
    }


    .advantages_main{
        columns: 1;
        width: 70%;
        margin-left: 25%;
    }

    .advantages_main_completion_greenborder, .advantages_main_completion{
        width: 60vh;
    }
    
    .advantages_heading{
        margin-left: 25%;
    }
}