.location{
    width: 100%;
    height: 420px;
    display: flex;
}

.location_filling{
    margin-left: 16%;
    width: 60vh;
    margin-right: 5vh;
}

.location_heading{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #0A0A0A;
}

.location_phone{
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #01524A;
    margin-top: 5vh;

}

.location_address{
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0A0A0A;
    margin-top: 3vh;
}

.location_worktime{
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #0A0A0A;
    width: 24vh;
    margin-top: 3vh;
}

@media screen and (max-width: 980px) and (max-height: 700px){
    .location{
        height: 450px;
    }
    
    .location_filling{
        margin-top: 2vh;
        margin-left: 2%;
    }

    .location_heading{
        font-size: 37px;
    }

    .iframe{
        margin-top: 10vh;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px){
    .location{
        width: 120vh;
        height: 400px;
    }

    .location_heading{
        font-size: 28px;
    }

    .location_phone{
        font-size: 30px;
        margin-top: 1vh;
    }
}


