.projects{
    width: 100%;
    height: 60vh;
}

.projects_heading{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #0A0A0A;
    margin-bottom: 3vh;
    margin-left: 40vh;
    border-bottom-style: solid;
    border-bottom-color: #01524A;
    border-bottom-width: .3vh;
    width: 60vh;
}

.projects_filling{
    margin-left: 40vh;
    display:flex;
}



.projects_filling_block_heading{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #0A0A0A;
}

.filling_block_text{
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #505050;
}

.projects_filling_block{
    width: 60vh;
    border-bottom-style: solid;
    border-bottom-color: #C9C9C9;;
    border-bottom-width: .3vh;
    margin-bottom: 6vh;
}

.projects_filling_img_one, .projects_filling_img_two{
    border: 1px solid #01524A;
    margin-left: 3vh;
    object-fit: contain;
    width: 35%;
    height: 86%;
    background-color: navajowhite;
    background-image: url(../img/image.png);
    display: block;
    max-width: 100%;
    padding: 10px;
}

.projects_filling_img_two{
    background-image: url(../img/image2.png);
}

.projects_filling_right{
    position: relative;
    bottom: 3vh;
    width: 50%;
    display:flex;
}

@media screen and (max-width: 980px) and (max-height: 700px){
    .projects{
        height: fit-content;
    }

    .projects_filling_right{
        padding-top: 2vh;
    }

    .projects_filling{
        margin-left: 5vh;
    }

    .projects_filling_img_one, .projects_filling_img_two{
        padding: 0px;
        padding-right: 30px;
        height: 90%;
        width: 38%;
    }

    .projects_filling{
        height: 60vh;
    }

    .projects_filling_left{
        width: 40%;
    }

    .projects_filling_right{
        width: 60%;
    }

    .projects_filling_block{
        width: 55vh;
    }
}


@media screen and (max-width: 360px) and (max-height: 640px){
    .projects_filling_right{
        display:none;
    }

    .projects_filling_left{
        width: 100%;
        margin-left: 60%;
    }

    .projects_heading{
        margin-left: 60%;
        font-size: 40px;
    }
}