*{
    transition: .1s;
}

.services{
    width: 100%;
    height: 95vh;
}

.services_heading{
    width: fit-content;
    margin-left: 40vh;
    margin-bottom: 3vh;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #0A0A0A;
    border-bottom-color: #01524A;
    border-bottom-width: .3vh;
    border-bottom-style: solid;
}

.services_filling_block{

    width: 56vh;
    height: 20vh;
    border: 1px solid #C9C9C9;
}

.services_filling_block_heading{
    position: relative;
    margin-right: 3vh;
    margin-top: 3vh;
    margin-left: 3vh;
    margin-bottom: 1vh;
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 125%;
    text-transform: uppercase;
    color: #01524A;
}



.services_filling_block:hover{
    background-color:#01524A;
}

.services_filling_block:hover .services_filling_block_heading{
    color: white;
}

.services_filling_block:hover .services_filling_block_text{
    color: white;
}








.services_filling_block_text{
    margin-left: 3vh;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    color: #505050;
    margin-bottom: 1vh;
}

.services_filling_block_order{
    margin-top: 1vh;
    border: 1px solid white;
    padding: 5px;
    margin-left: 3vh;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: white;
}

.services_filling_block_order:hover{
    background-color: rgba(255, 255, 255, 0.226);
}

.services_filling{
    display:flex;
    margin-left:20%;
}


.arrow {
    border: solid rgb(255, 255, 255);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }



@media screen and (max-width: 980px) and (max-height: 700px){

    .services{
        height: 160vh;
        
    }
    .services_filling_block{
        height: 33vh;
    }

    .services_filling{
        margin-left: 10%;
    }

}


@media screen and (max-width: 360px) and (max-height: 640px){
 .services_heading{
    margin-left: 45vh;
 }
}