.stages{
    display:flex;
    height: 60vh;
    background-color: #FFF6EF;
    padding-top: 2%;
    padding-bottom: 2%;
}

.stages_img{
    width: 45%;
    height: 100%;
    background-image: url(../img/3.jpg);
    background-position: 60% 50%;
}

.stages_main{
    margin-left: 5vh;
}

.stages_main_heading{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    text-transform: uppercase;
    color: #0A0A0A;
}

.stages_main_block, .stages_main_block_bordergreen{
    border-top-style: solid;
    border-top-color: #C9C9C9;
    border-top-width: .3vh;
    width: 55vh;
    height: 14vh;
    display:flex;
}

.stages_main_block_bordergreen{
    border-top-color: #01524A;
}

.number_green{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 29px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #01524A;
}

.stages_main_block_number{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 15px;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #0A0A0A;
    padding-top: 40px;
}

.stages_main_block_heading{
    font-family: 'Cormorant';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: #0A0A0A;
}

.stages_main_block_text{
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #505050;
}

.stages_main_blocks{
    padding-left: 2vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

@media screen and (max-width: 980px) and (max-height: 700px){
    .stages{
        height: 65vh;
    }

    .stages_main_heading{
        font-size: 45px;
    }
}

@media screen and (max-width: 360px) and (max-height: 640px){
    .stages{
        height: fit-content;
        width: 122vh;
    }

    .stages_img{
        display: none;
    }

    .stages_main{
        margin-left:30%;
    }

    .stages_main_heading{
        font-size: 42px;
    }
}